<%= javascript_pack_tag 'image' %>

<%= form_with model: @post_recipe do |post_recipe| %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center my-5"><h1>レシピ編集</h1></div>

        <% if @post_recipe.errors.any? %>
          <%= @post_recipe.errors.count %>件のエラーが発生しました
          <ul>
            <% @post_recipe.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      <div class="col-12 text-center mb-4">
          <h4>画像</h4>
          <%= image_tag @post_recipe.get_image(300, 300), class: "img-fluid" %>
            <h6 class="mt-4">↓画像の変更↓</h6>
        <div class='image justify-content-center'>
          <label class="labelName" for="imageSpace"></label>
          <%= post_recipe.file_field :image, accept: "image/*", class: 'imageInput' %>
        </div>
        <div class="col-12 prevImageBox d-flex justify-content-center"></div>
      </div>

      <div class="col-12 text-center my-4">
        <h4>カテゴリ</h4>
        <%= post_recipe.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>料理名</h4>
        <%= post_recipe.text_area :title %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>料理紹介</h4>
        <%= post_recipe.text_area :introduction %>
      </div>

      <div class="col-12 text-center mb-4">
        <h4>何人分</h4>
        <%= post_recipe.select :serving, *[1..10], include_blank: "選択してください" %>
      </div>
  </div>
</div>

<!-- 材料登録欄 -->
<div class="container my-3">
  <div class="row justify-content-center mt-3">
    <h5 class="col-sm-2">材料</h5>
    <h5 class="col-sm-2">分量</h5>
  </div>
  <div class="col-12 text-center">
    <div id="ingredients_form">
      <%= post_recipe.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredients_fields', ingredient: ingredient %>
      <% end %>
    </div>
    <%= link_to_add_association '材料の追加', post_recipe, :ingredients, partial: "ingredients_fields",
      data: {
        association_insertion_node: '.add-ingredient-button',
        association_insertion_method: 'before'
      },
      form_name: 'ingredient',
      class: 'add-ingredient-button btn btn-success text-white' # 追加
    %>
  </div>
</div>

<!--作り方登録欄-->
<div class="container my-3">
  <div class="row justify-content-center mt-3">
    <h5 class="col-sm-2">つくり方</h5>
  </div>
      <div class="col-12 text-center">
        <div class="justify-content-center", id="procedures_form">
          <%= post_recipe.fields_for :procedures do |procedure| %>
            <% render 'procedures_fields', procedure: procedure %>
          <% end %>
        </div>

        <%= link_to_add_association '作り方の追加', post_recipe, :procedures, partial: "procedures_fields",
      data: {
        association_insertion_node: '.add-procedure-button',
        association_insertion_method: 'before'
      },
      form_name: 'procedure',
      class: 'add-procedure-button btn btn-success text-white' # 追加
    %>
  </div>
</div>

      <div class="row mt-4">
      <div class="form-inline mx-auto">
        <% if @post_recipe.post_status == true %>
          <%= post_recipe.submit "レシピを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
          <%= post_recipe.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
        <% else %>
          <%= post_recipe.submit "レシピを更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
        <% end %>
      </div>
    </div>
    <div class="mt-4 pb-3 text-center">
      <u><%= link_to "レシピを削除", post_recipe_path, method: :delete, data: {confirm: "このレシピを削除しますか？"}, class:'btn btn-sm btn-danger text-light' %></u>
    </div>
  </div>
<% end %>