<%= javascript_pack_tag 'image' %>

  <%= form_with model: @post_recipe do |post_recipe| %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center my-5"><h1>レシピ編集</h1></div>

        <% if @post_recipe.errors.any? %>
          <h5 class="col-12 text-center"><%= @post_recipe.errors.count %>件のエラーが発生しました。</h5>
            <ul>
              <% @post_recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        <% end %>

      <div class="col-12 text-center mb-4">
        <h4>画像</h4>
          <%= image_tag @post_recipe.get_image(300, 300), class: "img-fluid" %>
            <h6 class="mt-4">↓画像の変更↓</h6>
              <div class='image justify-content-center'>
                <label class="labelName" for="imageSpace"></label>
                <%= post_recipe.file_field :image, accept: "image/*", class: 'imageInput' %>
              </div>

        <div class="col-12 prevImageBox d-flex justify-content-center"></div>
      </div>

      <div class="col-12 text-center my-4">
        <h4>カテゴリ</h4>
        <%= post_recipe.select :category_id, options_from_collection_for_select(Category.all, :id, :name, :selected => @post_recipe.category_id) %>
      </div>

      <%= render 'form', post_recipe: post_recipe %>
  </div>

      <div class="row justify-content-center">
        <div class="form-inline btn-group">
          <% if @post_recipe.post_status == true %>
            <%= post_recipe.submit "レシピを公開", :name => 'publicize_draft', class:'mr-5 btn btn-lg btn-warning' %>
            <%= post_recipe.submit "下書きを更新", :name => 'update_draft', class:'btn btn-lg btn-outline-secondary' %>
          <% else %>
            <%= post_recipe.submit "レシピを更新", :name => 'update_post', class:'btn btn-lg btn-warning text-light' %>
          <% end %>
        </div>
      </div>
    <div class="mt-4 pb-3 text-center">
      <u><%= link_to "レシピを削除", post_recipe_path, method: :delete, data: {confirm: "このレシピを削除しますか？"}, class:'btn btn-lg btn-danger text-light' %></u>
    </div>

  <% end %>
</div>