
<h1>新規投稿</h1>
<%= form_with model: @post_recipe, local:true do |f| %>
<div class="m-5">
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>カテゴリ</h4>
  <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: "選択してください" %>

  <h4>料理名</h4>
  <%= f.text_area :title %>

  <h4>料理紹介</h4>
  <%= f.text_area :introduction %>

  　<!--材料登録欄-->
      <div class="row">
        <div class="form-inline mb-2">
          <h4 class="mb-0">材料</h4>
          <%= f.select :serving, *[1..10], include_blank: "何人分"%>
        </div>
      </div>

      <div class="row">
          <%= f.fields_for :ingredients do |ingredient| %>
            <h6>材料・調味料</h6>
              <%= ingredient.text_area :name, placeholder: "例）にんじん" %>
            <h6>分量</h6>
              <%= ingredient.text_area :amount, placeholder: "例）一本" %>
          <% end %>
      </div>

    <!--作り方登録欄-->
        <h4>つくり方</h4>

      <div class="row">
        <%= f.fields_for :procedures do |procedure| %>
          <%= procedure.text_field :body, placeholder:"手順を記入" %>
        <% end %>
      </div>

    <div class="row mt-4 pb-5">
      <div class="form-inline mx-auto">
        <%= f.submit 'レシピを公開' %>
      </div>
    </div>
</div>
<% end %>