投稿詳細
  <div class="m-5">
    <div><%= image_tag @post_recipe.get_image(300, 300) %></div>
    <%= link_to user_path(@user) do %>
    <div>by<%= @post_recipe.user.name %></div>
    <% end %>
    <h3>カテゴリ</h3>
    <div><%= @post_recipe.category.name %></div>
    <h3>料理名</h3>
    <div><%= @post_recipe.title %></div>
    <h3>料理紹介</h3>
    <div><%= @post_recipe.introduction %></div>

    <h4><%= @post_recipe.serving %>人前<h4>

      <h3>材料・分量</h3>
    <% @post_recipe.ingredients.each do |ingredient| %>
      <div><%= ingredient.name %></div>
      <div><%= ingredient.amount %></div>
    <% end %>

      <h3>作り方</h3>
    <% @post_recipe.procedures.each do |procedure| %>
      <div><%= procedure.body %></div>
    <% end %>

    <%= render 'keeps', post_recipe: @post_recipe %>

    <% if @post_recipe.user == current_user %>
    <%= link_to "編集", edit_post_recipe_path(@post_recipe.id), class: 'btn btn-md btn-success text-white' %>
    <%= link_to "削除", post_recipe_path(@post_recipe.id), method: :delete, class: 'btn btn-md btn-danger text-white', "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>

  <div class="ml-5">
    <div>
      <p>コメント件数：<%= @post_recipe.recipe_comments.count %></p>
      <% @post_recipe.recipe_comments.each do |recipe_comment| %>
        <p><%= image_tag recipe_comment.user.get_profile_image(100, 100) %></p>
          <%= recipe_comment.user.name %><br>
            <%= recipe_comment.comment %><br>
              <%= recipe_comment.created_at.strftime('%Y/%m/%d') %>

            <% if recipe_comment.user == current_user %>
              <%= link_to "削除", post_recipe_recipe_comment_path(recipe_comment.post_recipe, recipe_comment), method: :delete, class: 'btn btn-md btn-danger text-white' %>
            <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with model: [@post_recipe, @recipe_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>