<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center my-5"><h1>投稿詳細</h1></div>

        <div class="col-12 text-center my-3"><%= image_tag @post_recipe.get_image(300, 300) %></div>
        <%= link_to admin_user_path(@post_recipe.user.id) do %>
        <div class="text-center my-3">by<%= @post_recipe.user.name %></div>
        <% end %>

        <div class="col-lg-2 text-center my-3">
        <%= @post_recipe.keeps.count %> 保存
        </div>

        <div class="col-12 text-center my-3">
        <h4>カテゴリ</h4>
        <div><%= @post_recipe.category.name %></div>
        </div>

        <div class="col-12 text-center my-3">
        <h4>料理名</h4>
        <div><%= @post_recipe.title %></div>
        </div>

        <div class="col-12 text-center my-3">
        <h4>料理紹介</h4>
        <div><%= @post_recipe.introduction %></div>
        </div>

        <div class="col-12 text-center my-3">
        <h4><%= @post_recipe.serving %>人前</h4>
        </div>

        <div class="col-12 d-flex justify-content-center my-3">
          <table class="col-4">
            <thead>
              <th class="col-4 text-center"><h4>材料</h4></th>
              <th class="col-4 text-center"><h4>分量</h4></th>
            </thead>
            <tbody>
              <% @post_recipe.ingredients.each do |ingredient| %>
              <tr>
                <td class="col-4 text-center"><%= ingredient.name %></td>
                <td class="col-4 text-center"><%= ingredient.amount %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-12 text-center my-3">
          <h3>作り方</h3>
        <% @post_recipe.procedures.each do |procedure| %>
          <div><%= procedure.body %></div>
        <% end %>
        </div>
  </div>

  <div class="container">
    <div class="row my-5">
      <div class="text-right ml-5">
        <p>コメント件数：<%= @post_recipe.recipe_comments.count %></p>
      </div>

      <div class="row align-items-center overflow-auto border rounded p-2 ml-5" style="width:700px; height:250px;">
        <% @post_recipe.recipe_comments.each do |recipe_comment| %>
      <div class="col-3 text-center text-break">
          <%= link_to admin_user_path(recipe_comment.user) do %>
          <p><%= image_tag recipe_comment.user.get_profile_image(80, 80) %></p>
          <p><%= recipe_comment.user.name %></p>
          <% end %>
      </div>

      <div class="col-7 d-flex align-items-center justify-content-center text-break">
        <%= recipe_comment.created_at.strftime('%Y/%m/%d') %><br>
        <%= recipe_comment.comment %>
      </div>

            <div class="col-2 text-center d-flex align-items-center">
              <%= link_to "削除", admin_post_recipe_recipe_comment_path(recipe_comment.post_recipe, recipe_comment), method: :delete, data: {confirm: "このコメントを削除しますか？"}, class: 'btn btn-md btn-danger text-white' %>
            </div>
      <% end %>
      </div>
    </div>
  </div>
</div>