<!DOCTYPE html>
<html>
  <head>
    <title>CookNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e30cc8c7c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <!-- 管理者がログインしている場合-->
    <% if admin_signed_in? %>
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="col-lg-2">
        <h2><%= link_to 'LOGO', admin_root_path, class: "text-dark text-decoration-none" %></h2>
      </div>

        <div class="col-lg-4 d-flex justify-content-center">
          <%= form_with url: admin_post_recipes_path, method: :get, local: true, class: 'boards__searchForm ml-5' do |f|%>
            <div class="input-group">
              <%= f.text_field :word, value: @word, class: "form-control w-50", placeholder: "キーワードを入力" %>
              <%= button_tag type: "submit", class: "btn btn-outline-light text-secondary form-control" do %>
              <i class="fas fa-search"></i>
              <% end %>
          <% end %>
             </div>
        </div>

        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to admin_root_path, class: "mx-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-users">会員一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admin_post_recipes_path, class: "mr-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-rectangle-list">投稿一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to admin_categories_path, class: "mr-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-tag">カテゴリ一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "mr-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-right-from-bracket">ログアウト</i>
            <% end %>
          </li>
        </ul>
    </nav>

<!--ユーザー（会員）がログインしている場合 -->
  <% elsif user_signed_in? %>
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="col-lg-2">
        <h2><%= link_to 'LOGO', root_path, class: "text-dark text-decoration-none" %></h2>
      </div>

        <div class="col-lg-4 d-flex justify-content-center">
          <%= form_with url: post_recipes_path, method: :get, local: true, class: 'boards__searchForm ml-5' do |f|%>
            <div class="input-group">
              <%= f.text_field :word, value: @word, class: "form-control w-50", placeholder: "キーワードを入力" %>
              <%= button_tag type: "submit", class: "btn btn-outline-light text-secondary form-control" do %>
              <i class="fas fa-search"></i>
              <% end %>
          <% end %>
            </div>
        </div>

      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to post_recipes_path, class: "mx-3 button text-decoration-none link-light" do %>
          <i class="fa-solid fa-rectangle-list">投稿一覧</i>
          <% end %>
        </li>

        <li>
          <%= link_to user_path(current_user), data: {"turbolinks" => false}, class: "mx-3 button text-decoration-none link-light" do %>
          <i class="fa-solid fa-user">マイページ</i>
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "mx-3 button text-decoration-none link-light" do %>
          <i class="fa-solid fa-right-from-bracket">ログアウト</i>
          <% end %>
        </li>
      </ul>
    </nav>

    <!-- ログインしていない場合 -->
    <% else %>
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="col-lg-2">
        <h2><%= link_to 'LOGO', root_path, class: "text-dark text-decoration-none" %></h2>
      </div>

          <div class="col-lg-4 d-flex justify-content-center">
            <%= form_with url: post_recipes_path, method: :get, local: true, class: 'boards__searchForm ml-5' do |f|%>
              <div class="input-group">
                <%= f.text_field :word, value: @word, class: "form-control w-50", placeholder: "キーワードを入力" %>
                <%= button_tag type: "submit", class: "btn btn-outline-light text-secondary form-control" do %>
                <i class="fas fa-search"></i>
                <% end %>
            <% end %>
              </div>
          </div>

        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to post_recipes_path, class: "mx-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-rectangle-list">投稿一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to new_user_registration_path, class: "mx-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-user-plus">新規登録</i>
            <% end %>
          </li>

          <li>
            <%= link_to new_user_session_path ,class: "mx-3 button text-decoration-none link-light" do %>
            <i class="fa-solid fa-right-to-bracket">ログイン</i>
            <% end %>
          </li>
        <% end %>
        </ul>
    </nav>
  </header>

  <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </main>

    <footer>
      <div class="text-center">
        <h4 class="logo text-center"><%= link_to 'LOGO', root_path, class: "text-dark text-decoration-none" %></h4>
        <h5 class="text-center my-4 text-light"><i class="fa-solid fa-utensils">おいしさがつながる、レシピのコミュニティ</i></h5>
        <%= link_to "管理者はこちら", new_admin_session_path,class: "text-dark", style: "text-decoration: none;" %>
      </div>
    </footer>
  </body>
</html>
